.marker {
  position: relative;
  box-sizing: border-box;
  transform: translate(-50%, calc(-50% - 24px));
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.marker-title {
  position: absolute;
  top: calc(-50% - 15px);
  left: calc(+50% - -5px);
  max-width: 180px;
  padding: 3px 5px 4px;
  margin-left: 3px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 100%;
  color: #000;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  padding-top: 9px;
}
